.titulo-gris {
  background-color: #808080;
  color: black;
  padding: 15px;
}
.tabla {
  display: table;
}

.tabla span {
  display: table-cell;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
}
.c1 { color: #6A89A7; }
.c2 { color: #A49A87; }
.c3 { color: #FFBF00; }

.tabla-colores {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.tabla-colores td {
    padding: 10px;
    border: 1px solid #333;
}


.color1 { background-color: #6A89A7; } 
.color2 { background-color: #F2F2F2; } 
.color3 { background-color: #A49A87; } 


.titulo {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

p {
  max-width: 50ch;
  text-align: justify;
}

.fila {
  margin-left: 60px;
  overflow: auto; 
}

.fila img {
  width: 200px;
}

.flotante {
    float: left;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Contenedor general */
.cuadricula {
  position: relative;
  width: 540px;   /* 6*80 + 5*10 */
  height: 540px;  /* igual que el ancho */
  padding: 20px;
  background-color: #001a33; /* líneas oscuras */
}

/* Capa del degradado detrás */
.degradado {
  position: absolute;
  inset: 20px; /* coincide con el padding */
  background: linear-gradient(to bottom right, #0066ff, #9933ff, #ff3399, #ff6666);
  z-index: 0;
}

/* Cuadrícula encima */
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(6, 80px);
  gap: 10px; /* líneas oscuras */
  z-index: 1;
}

/* Cuadrados oscuros */
.grid div {
  background-color: #001a33;
}

